.header-logo{
    color: #ffffff;
    width:250px
}

.main-copy{
    color: #F90;
    text-align: center;
    font-family: Helvetica;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 125.1%; /* 150.12px */
}

.FV{
    width: 1280px;
    height: 817px;
    flex-shrink: 0;
    background: #1E2950;
}
